<a href="https://colab.research.google.com/github/zackdihel/ECON-5200-Data-Analytics/blob/main/Lab%201/%5BLab_1%5D_%22Hello%2C_Pandas%22_%26_The_Digital_Portfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#step 1: imports
import pandas as pd
import numpy as np

In [ ]:
data = {
    'Country': ['United States', 'Argentina', 'Australia', 'Brazil', 'Britain', 'China',
                'Egypt', 'Euro', 'Hong Kong', 'Indonesia', 'Japan', 'Mexico', 'Norway',
                'Pakistan', 'Philippines', 'Russia', 'Saudi Arabia', 'South Africa', 'South Korea'],
    'iso_a3': ['USA', 'ARG', 'AUS', 'BRA', 'GBR', 'CHN', 'EGY', 'EUZ', 'HKG', 'IDN', 'JPN',
               'MEX', 'NOR', 'PAK', 'PHL', 'RUS', 'SAU', 'ZAF', 'KOR'],
    'local_price': [4.79, 28.00, 5.30, 13.50, 2.89, 17.20, 16.93, 3.68, 18.80,
                    27939, 370, 49.00, 48.00, 300, 163, 89.00, 11.00, 25.50, 4100],
    'dollar_index': [1.00, 8.62, 1.23, 2.59, 0.66, 6.21, 7.36, 0.86, 7.74,
                     12472, 117.83, 14.63, 7.62, 100.67, 44.41, 65.44, 3.75, 11.49, 1084.66]
}

#Convert to DataFrame
df = pd.DataFrame(data)
print(df)

         Country iso_a3  local_price  dollar_index
0   United State    USA         4.79          1.00
1      Argentina    ARG        28.00          8.62
2      Australia    AUS         5.30          1.23
3         Brazil    BRA        13.50          2.59
4        Britain    GBR         2.89          0.66
5          China    CHN        17.20          6.21
6          Egypt    EGY        16.93          7.36
7           Euro    EUZ         3.68          0.86
8      Hong Kong    HKG        18.80          7.74
9      Indonesia    IDN     27939.00      12472.00
10         Japan    JPN       370.00        117.83
11        Mexico    MEX        49.00         14.63
12        Norway    NOR        48.00          7.62
13      Pakistan    PAK       300.00        100.67
14   Philippines    PHL       163.00         44.41
15        Russia    RUS        89.00         65.44
16  Saudi Arabia    SAU        11.00          3.75
17  South Africa    ZAF        25.50         11.49
18   South Korea    KOR      4100.00       1084.66